trigger:
- develop

pool:
  vmImage: ubuntu-latest

steps:

- script: 

- task: Docker@2
  inputs:
    containerRegistry: 'heimdallregisterServiceConnection'
    repository: 'heimdall-api'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    tags: |
      $(Build.BuildId)
      latest
